<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="InTheFrontRowModule">
<head>
    <title>Manage</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/BootstrapManageThemes/bootstrap.css">
    <link rel="stylesheet" href="css/BootstrapManageThemes/manage.css">
</head>
<body class="manage-body">
    <div class="container">
        <div class="row" id="body-container">
            <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2" ng-controller="ManagementController">
                <button class="btn btn-default" ng-click="NewGallery()">New Gallery</button>
                <!-- This list of existing galleries -->
                <div>
                    <div class="gallery-view-holder" ng-repeat="gallery in galleryList">
                        <button class="btn btn-default" ng-click="DeleteGallery(gallery.Metadata.Id)">Delete this gallery</button>
                        <p>{{gallery.Metadata.Title}}</p>
                        <p>{{gallery.Metadata.Description}}</p>
                        <div id="gallery-image-holder">
                            <div class="thumbnail-holder" ng-repeat="thumb in gallery.Thumbnails">
                                <img ng-src="{{thumb.thumbnail}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-file-upload.js"></script>
    <script src="js/ui-tinymce.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="js/module.js"></script>
    <script src="js/thumbnailsSvc.js"></script>
    <script src="js/managecontroller.js"></script>
    <script src="js/newgallerycontroller.js"></script>
    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
</body>
</html>
