<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="NewGalleryApp">
<head>
    <title>New Gallery</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/BootstrapManageThemes/bootstrap.css">
    <link rel="stylesheet" href="css/BootstrapManageThemes/manage.css">
</head>
<body class="manage-body">
    <div class="container" ng-controller="NewGalleryController">
        <div class="row" id="body-container">
            <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2" style="background-color:green">
                <form role="form">
                    <button ng-click="SaveGallery()" class="btn btn-default">Save</button>
                    <button ng-click="CancelGallery()" class="btn btn-default">Cancel</button>
                    <div class="form-group">
                        <label for="galleryTitle">Gallery Title</label>
                        <input type="text" class="form-control" id="galleryTitle" placeholder="Enter Gallery Title" ng-model="galleryTitle">
                    </div>
                    <div class="form-group">
                        <label for="caption">Gallery Description</label>
                        <textarea class="form-control" rows="4" ui-tinymce="tinymceOptions" id="galleryDescription" placeholder="Enter Description" ng-model="galleryDescription"></textarea>
                    </div>
                </form>
                <div id="uploadWaitSpinner" ng-show="!readyForUpload">
                    <p>Preparing for upload</p>
                </div>
                <div id="dropzone" ng-show="readyForUpload" >
                    <form name="submitImagesForm" id="uploadFilesForm" >
                        <input type="file" ng-file-select="onFileSelect($files)" multiple />
                    </form>
                </div>

                <div id="gallery-image-holder">
                    <img ng-repeat="image in imageList" ng-src="{{image.Thumbnail}}" />
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="js/angular-file-upload.js"></script>
    <script src="js/thumbnailsSvc.js"></script>
    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script src="js/ui-tinymce.js"></script>

    <script src="js/newgallerycontroller.js"></script>
    <script src="js/newgallerymodule.js"></script>
</body>



</html>
